/*   template: What's your solution?
     author: luka cvrk (www.solucija.com)   */

body {
	margin: 0;
	padding: 0;
	font: 70% Tahoma, Arial, Helvetica, sans-serif;
	color: #7e7e7e; 
	background: #FFFFFF url(images/bg.gif) repeat-x;
	line-height: 16px; 
}

a {
	color: #33ADDB;
	background-color: inherit;
}

a:hover {
	color: #575757;
	background-color: inherit;
}

h1 {
	font: bold 1.8em Arial, Sans-Serif;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
}

h1 a {
	text-decoration: none;
}

h2 {
	margin: 0; 
	padding: 3px 0 6px 0; 
	font: 130% Arial, Sans-Serif;
	font-weight: bold;
	color: #808080; 
	text-transform: uppercase;
	background-color: inherit;
	
}

h2 a {
	color: #6AC65D;
	background-color: inherit;
	text-decoration: none;
}


p {
	padding: 2px 0 5px;
	margin: 0;
	text-align: justify;
	/*word-spacing: -0.3ex;*/
}

.footer p {
	padding: 2px 0 5px;
	margin: 0;
	text-align: center;  
}

#content {
	margin: 0px auto; 
	width: 980px; 
}

.header { 
	height: 45px; 
	margin: 0px 0 2px 0; 
	padding: 20px 0 0 5px;
	border-top: 4px solid #000;
	background: #FFF url(images/headerbg.gif) repeat-x bottom left;
	color: #808080;
}

.infotext {
	float: right;
	padding: 2px 5px 0 0;
}

.subheader {
	clear: both;
	height: 23px;
	margin: 0 0 10px 0;	
}

.subheader_left {
	line-height: 28px;
	width: 193px;
	background: #33ADDB url(images/hmleftbg.gif) repeat-x;
	color: #FFFFFF;
	padding: 0 5px 0 5px;
}

.subheader_left a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	background-color: inherit;
}

.subheader_right {
	background: #F6F6F6 url(images/hmrightbg.gif) repeat-x;
	color: #626262;
	line-height: 28px;
	
	float: right;
	width: 774px;
	
}

.subheader_right a {
	margin: 0px 2px 0 0;
	padding: 7px 10px 8px 10px;
	color: #626262;
	background: inherit;
	font-weight: bold;
	text-decoration: none;
}

.subheader_right a:hover {
	background: #33ADDB url(images/hmleftbg.gif) repeat-x;
	border-top: 1px solid #1A83AC;
	color: #FFFFFF;
}

.left {
	float: left;
	padding: 5px 0 0 5px;
	width: 190px;
}

.right {
	float: right;
	width: 760px;
	margin: 0 0 20px 0; 
	padding: 5px 0 0 15px; 
	color: #000;
	background-color: #FFFFFF; 
	border-left: 1px solid #e6e6e6;
}

a.info {
	font: bold 1.3em Arial, Sans-Serif; 
	text-decoration:none; 
	position:relative;
}

a.info span {
	display:none;
}

a.info:hover {
	
	cursor:default;
}

a.info:hover .infobox {
	font-weight: normal; 
	display:block; 
	position:absolute;
	top:20px;; 
	left:0;; 
	width:205px; 
	height:70px; 
	/*border: 1px solid #ccc; */
	background:#f4f4f4 url(images/question.gif) no-repeat bottom right; 
	color:#000; 
	text-align:left; 
	font-size:0.7em; 
	padding-left:10px; 
	padding-top:10px;
}

.line {
	height: 2px;
	margin: 10px 0 10px 0;
}

.right_left {
	float: left;
	width: 350px;
	min-height: 145px;
	padding: 13px;
	background: #f2f2f2;
	color: #626262;
	margin-bottom: 10px; 
}

.right_right {
	float: right;
	width: 350px;
	min-height: 145px;
	padding: 13px;
	background: #f2f2f2;
	color: #626262;
	margin-bottom: 10px; 
}

.linksarea{
	width: 98%;
	height: 90px;
}

.footer { 
	clear: both; 
	color: #999999; 
	background-color: #FFFFFF;
	padding: 10px 0 10px 0; 
	border-top: 1px solid #e6e6e6; 
	text-align: center;  
	line-height: 13px;
}

.footer a { 
	text-decoration: underline; 
}
/*
form.search {
	padding: 0; 
	margin: 0; 
}*/

input.text { 
	margin: 0; 
	width: 95px;
	border: 1px solid #ccc; 
	background: #FFF;
	color: #000; 
}

input.text:hover { 
	border: 1px solid #808080; 
}
/*
.date { 
	color: #ccc; 
	background: #FFFFFF;
	text-align: right; 
	margin: 4px 0 3px 0; 
	padding: 0; 
}*/
.alert-error{
	padding: 3px;
	margin: 4px 0 3px 0; 
	background:#FFCCCC;
	border:1px solid red;
}

.fieldsets{
	margin-bottom: 10px; 
	width: 450px;
	border:1px dotted;
}

.view
{
	margin-bottom: 15px; 
	font-weight: bold;
}

.img
{
	border: 0;
}

.resizehandle {
  background:transparent url(images/resizer.png) no-repeat scroll 45%;
  cursor:s-resize;
  font-size:0.1em;
  height:16px;
  width:100%;
}
